apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ name }}
  namespace: {{ name }}

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ name }}-user-full-access
  namespace: {{ name }}
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["ResourceQuota"]
  verbs: ["get"]
- apiGroups: ["", "extensions", "apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ name }}-user-view
  namespace: {{ name }}
subjects:
- kind: ServiceAccount
  name: {{ name }}
  namespace: mynamespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ name }}-user-full-access
